#这个意思就是 target目录不用推送过去
t/懂了
##还可以指定某个文件 表示以iml结尾的都不要，可以用一些常用的适配符号
## 一般这种idea项目文件 还有maven产生的临时文件都不用传，在这里配置就可以

## 我给你装了一个插件，自动生成，这样你就不用去手写

## 我擦 我把那个隐藏了哈哈哈
哈哈H和H·
## 大致流程就是这个

回了
会
太感谢了
木事，我又复习了遍


idea有插件，你不用敲git命令的
*.iml